@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';

@import 'reset', 
        'vars',
        'fonts';


body, p{
    @include gotham;
}

.container {
    width: calc(100% - 120px);
    max-width: 1280px;
    margin: 0 auto;
}


.bg {
    background-image: -moz-linear-gradient( 37deg, rgb(245,172,70) 0%, rgb(242,135,86) 55%, rgb(238,98,101) 100%);
    background-image: -webkit-linear-gradient( 37deg, rgb(245,172,70) 0%, rgb(242,135,86) 55%, rgb(238,98,101) 100%);
    background-image: -ms-linear-gradient( 37deg, rgb(245,172,70) 0%, rgb(242,135,86) 55%, rgb(238,98,101) 100%);
    // height: 766px;
    // position: absolute;
    // left: 0px;
    // top: 0px;
    // width: 1368px;
    // z-index: 44;
}          


/* header */
.header {
    background-color: white;
    
    .container {
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.list-inline{
    ul{ list-style-type: none; }
    li{ display: inline-block; }
}

.menu, .social {
    @extend .list-inline;
    &-item {
        padding: 0 10px;
    }
}

.menu {
    &-link {
        transition: all 300ms ease-in-out;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        color: $blue;
        border-bottom: 3px solid transparent;
        &:hover {
            color: $yellow;
            border-color: $yellow;
        }
    }
}

.social-item a{
    color: $blue; 
    &:hover{ color: $yellow; } 
}


/* logo */
.logo  {
    width: 70px;
    height: 30px;
    display: block;
}


/* title */
.title {
    @include gotham(100);
    text-align: center;
    font-size: 37px;
    padding: 90px 0;
    color: white;
    line-height: 200%;
    span{
        text-transform: uppercase;
        font-size: 60px;
        letter-spacing: 8.5px;
    }
}


/* card */
.card {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 2px 2px 0 0;

    &-content {
        span {
            background-color: rgb(144, 191, 0);
            width: 100%;
            height: 30px;
            display: block;
            text-align: center;
            color: white;
            text-transform: uppercase;
            line-height: 30px;      
        }
    }

    &-title {
        font-size: 32px;
        color: $blue;
        font-weight: normal;
    }

}



/* news */
.news {
    background-color: rgb(46, 113, 242);

    border-radius: 10px;
    box-shadow: 0px 47px 136px 0px rgba(0, 0, 0, 0.27);
    @extend .container;
    height: 418px;
    margin: 150px auto;
    position: relative;

    * {
        z-index: 2;
        position: relative;
    }

    &:after {
        content: " ";
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-image: url('../images/news.png');
        background-attachment: fixed;
        background-size: cover;
    }

    &-content {
        max-width: 70%;
        p{
            font-size: 12px;
            color: white;
            line-height: 150%;
            text-align: center;
        }
    }

    &-title {
        font-size: 36px;
        color: white;
        text-align: center;
        padding: 70px 0 30px 0;
    }

    &-form {
        input[type="text"] {
            border: 0;
            border-radius: 4px;
            padding-left: 30px;
            background-color: rgba($color: #8bb3fe, $alpha: 0.2);
            width: 395px;
            height: 42px;   
            color: white;          
        }
        ::placeholder {
            color: white;
        }

        button {
            background-color: rgb(253, 254, 255);
            box-shadow: 0px 8px 16px 0px rgba(69, 41, 35, 0.3);
            border-radius: 40px;
            position: absolute;
            width: 144px;
            height: 42px;              
            text-transform: uppercase;
            right: -20px;
        }

        &-row {
            margin: 40px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            max-width: 70%;
            span{
                color: white;
                font-size: 12px;
                display: inline-block;
                margin-top: 15px;
            }
        }

    }

}

.link-download {
    display: inline-block;
    color: white;
    border-radius: 22px;
    background-color: rgba($color: white, $alpha: 0.2);
    text-transform: uppercase;
    width: 276px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    font-size: 12px;
    &:before {
        content: ' ';
        width: 17px;
        height: 20px;
        display: block;
        background-image: url('../images/appleicon.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -14px;
        left: 20px;
    }   
}


.iphone {
    position: absolute;
    right: 50px;
    bottom: 47px;
    z-index: 2;
}


/* copyright */
.copyright {
    color: #97aacd;
    text-align: center;
    margin-bottom: 50px;
    .logo{
        margin: 0 auto 20px;
    }
}



/* referencia para fazer checkbox: https://codepen.io/spacemonkey/pen/vmZROv  */
/* custom checkbox */
.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
 
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      color: white;
      font-size: 12px;
      font-weight: 300;
      padding-top: 20px;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
    }
  
    // Box hover
    &:hover + label:before {
      background: #f35429;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background: #f35429;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
  


/* Custom SELECT  */
/* https://codepen.io/miniven/pen/ZJydge */
.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
    
    @media (min-width: 768px) {
      width: 70%;
    }
    
    @media (min-width: 992px) {
      width: 50%;
    }
    
    @media (min-width: 1200px) {
      width: 40%;
    }
    
    &__current {
      position: relative;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
      cursor: pointer;
      outline: none;
      
      &:focus {
        & + .select-box__list {
          opacity: 1;
  
          // We have to set "animation-name: none;" to make the list visible (read below how it works)
  
          animation-name: none;
          
          .select-box__option {
            cursor: pointer;
          }
        }
        
        .select-box__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    
    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease;
    }
    
    &__value {
      display: flex;
    }
    
    &__input {
      display: none;
      
      &:checked + .select-box__input-text {
        display: block;
      }
    }
    
    &__input-text {
        display: none;
        width: 100%;
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid white;
        color: white;
        font-size: 13px;
        font-weight: 200;
    }
    
    &__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;
      border: 2px solid $yellow;
      
      // We need to use animation with delay.
      // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
      // This delay will not be noticed because we set "opacity" to "0".
      // We also use "animation-fill-mode: forwards" to make the list stay hidden.
      
      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    }
    
    &__option {
      display: block;
      padding: 15px;
      background-color: #fff;
      
      &:hover,
      &:focus {
        color: $yellow;
        background-color: #fbfbfb;
      }
    }
  }
  
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }